/* IMPORTAÇÃO DE FONTES EXTERNAS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* DEFINIÇÃO DE :ROOT (variáveis globais) */
:root {
  --color-white: #FFFFFF;
  --color-black: #000000e0;
  --color-red: #BD2026;
  --color-light-grey-02: #464444;
  --color-light-grey-01: #d1d1d1;
  --color-light-grey-00: #dad9d9c9;
}

/* ---------- HEADER ---------- */

/* ESTILIZAÇÃO QUE SERÁ APLICADA A TODO CONTEÚDO VISÍVEL DA PÁGINA */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

/* CABEÇALHO */
header {
  font-size: 2rem;
  font-weight: 900;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background-color: var(--color-red);
}

.main__title {
  color: var(--color-white);
}

/* ---------- HEADER ---------- */
/* ---------@ MAIN ---------- */

main, .container__table {
  /* width: 940px; */
  margin: 30PX auto;
}

.container__article {
  width: 940px;
  margin: 0 auto;
}

.title, .table__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.box__article {
  display: flex;
  width: 840px;
  margin-bottom: 80px;
}

.description {
  font-size: 0.9rem;
  color: var(--color-light-grey-02);
  margin-bottom: 30px;
}

.article__image {
  width: 300px;
  height: auto;
  margin-right: 15px;
}

.article__description {

}

.container__table {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  width: 1400px;
}

/* table, th, td {
  border: 1px solid var(--color-black);
}*/

table {
  border-collapse: collapse;
  width: 100%;
}

table, thead th {
  border: 2px solid var(--color-black);
}

.box__table {
  /* background-color: var(--color-light-grey-01); */
}

.box__table tr:nth-child(even) {
  background-color: #fbcad6a4;
}

.box__table tr:hover {
  border: 2px solid var(--color-light-grey-02);
}

.td__table {
  text-align: center;
  border-left: 1px solid var(--color-light-grey-01);
}

thead {
  color: var(--color-white);
  background-color: var(--color-red);
}

tbody a {
  text-decoration: none;
  color: var(--color-black);
}

.table__title {
  margin-bottom: 30px;
}

th, td {
  padding: 15px;
}

.hiperlink__style {
  color: var(--color-red);
  text-decoration: none;
}

.hiperlink__style:hover {
  text-decoration: underline;
}

/* ---------- MAIN ---------- */
/* ---------- FOOTER ---------- */

footer {
  margin: 30px 0;
  padding: 15px 0;
  color: var(--color-white);
  background-color: var(--color-light-grey-02);
}

.copyright__messege {
  text-align: center;
}

/* ---------- FOOTER ---------- */
