/* IMPORTAÇÃO DE FONTES EXTERNAS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* DEFINIÇÃO DE :ROOT (variáveis globais) */
:root {
  --color-white: #FFFFFF;
  --color-red: #BD2026;
  --color-light-grey-01: #464444;
  --color-light-grey-00: #d1d1d1;
}

/* ---------- HEADER ---------- */

/* ESTILIZAÇÃO QUE SERÁ APLICADA A TODO CONTEÚDO VISÍVEL DA PÁGINA */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

/* CABEÇALHO */
header {
  font-size: 2rem;
  font-weight: 900;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background-color: var(--color-red);
}

.main__title {
  color: var(--color-white);
}

/* ---------- HEADER ---------- */
/* ---------@ MAIN ---------- */

main {
  /* width: 940px; */
  margin: 30PX auto;
}

.title {
  margin-bottom: 10px;
}

.box__article {
  display: flex;
  width: 840px;
  margin-bottom: 80px;
}

.description {
  font-size: 0.8rem;
  color: var(--color-light-grey-01);
  margin-bottom: 30px;
}

.article__image {
  width: 300px;
  height: auto;
  margin-right: 15px;
}

.article__description {

}

.container__table {
  background-color: var(--color-light-grey-00);
}

/* ---------- MAIN ---------- */


